
<div class="container text-align">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <form action="/answer" class="form-group">
        <label for="question">Speak to your coach</label>
        <input type="text" id="question" class="form-control" name="query" placeholder="what time is it?">
        <input type="submit" class="btn btn-primary" value="Go on!">
      </form>
    </div>
  </div>
</div>
